<ion-view title="Your trip is end" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button-clear alotaxi-menu-btn" ng-click="default()">
            <span class="pe-7s-menu"></span>
        </button>
    </ion-nav-buttons>
  <ion-content class="driver-end-content end-page text-center bg-content-common">
    <div class="row cup">
        <div class="col">
            <span class="pe-7s-cup"></span>
        </div>
    </div>
    <div class="row text-info">
        <div class="col">
            <h6>Your trip received</h6>
            <h1>100 <small>Point</small></h1>
            <br />
            <h4>Rating passenger</h4>
        </div>
    </div>
    <div class="row rating">
        <div class="col">
            <i class="fa fa-star rating-value"></i>
            <i class="fa fa-star rating-value"></i>
            <i class="fa fa-star rating-value"></i>
            <i class="fa fa-star rating-value"></i>
            <i class="fa fa-star rating-value"></i>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="alotaxi-btn button yellow" href="javascript:;">SEND</a>
        </div>
    </div>
  </ion-content>
</ion-view>
