<ion-view title="Start trip now" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button-clear alotaxi-menu-btn" ng-click="default()">
            <span class="pe-7s-menu"></span>
        </button>
    </ion-nav-buttons>
  <ion-content class="driver-starting-content bg-content-common text-center">
  <div class="row driver-heading">
      <div class="col">
          <h4>i’m here</h4>
      </div>
  </div>
    <div class="driver">
        <div class="driver-info">
            <div class="row">
                <div class="col col-67">
                    <span class="pe-7s-user"></span>
                    Your passenger name::
                </div>
                <div class="col col-33">
                    {{ driver.name }}
                </div>
            </div>
            <div class="row">
                <div class="col col-67">
                    <span class="pe-7s-phone"></span>
                    Passenger mobile:
                </div>
                <div class="col col-33">
                    {{ driver.phone }}
                </div>
            </div>
            <div class="row">
                <div class="col col-67">
                    <span class="pe-7s-cup"></span>
                    Rating:
                </div>
                <div class="col col-33">
                    {{ driver.rating }}
                </div>
            </div>
            <div class="row">
                <div class="col col-67">
                    <span class="pe-7s-map-marker"></span>
                    Start:
                </div>
                <div class="col col-33">
                    {{ driver.start }}
                </div>
            </div>
            <div class="row">
                <div class="col col-67">
                    <span class="pe-7s-map-marker"></span>
                    End:
                </div>
                <div class="col col-33">
                    {{ driver.end }}
                </div>
            </div>
        </div>
        <div class="row begin-btn">
            <div class="col">
                <a ng-click="driverEnd()" class="button alotaxi-btn" href="javascript:;">Begin Trip</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a ng-click="doLogin()" class="button alotaxi-btn cancel" href="javascript:;">Cancel Trip</a>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
